* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(Images/fundo.jpg);
    background-size: cover;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #00000036;
    backdrop-filter: blur(8px);
    border-radius: 4px;
    width: 250px;
    min-width: 250px;
    height: auto;
    padding: 40px 20px;
    box-shadow: 0px 0px 0px 1px #ffffff17;
}

div.operationScreen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 0px 10px 0px 0px;
    color: white;
}

section.grade {
    position: relative;
    display: flex;
    justify-items: center;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

button.button {
    border: none;
    background: #0000004a;
    height: 40px;
    width: 60px;
    min-height: 40px;
    min-width: 60px;
    margin: 1px;
    border-radius: 2px;
    color: white;
}

.numbers {
    background-color: #00000096 !important;
}

button.button:hover, .numbers:hover {
    background-color: #ffffff4a !important;
}