* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition: all 400ms;
}

.theme1 {
    background-image: url(./theme1.jpg);
}

.theme2 {
    background-image: url(./theme2.jpg);
}

.theme3 {
    background-image: url(./theme3.jpg);
}

div.content {
    transition: all 400ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #00000069;
    backdrop-filter: blur(8px);
    border-radius: 4px;
    width: 300px;
    min-width: 300px;
    height: 400px;
    padding: 40px 10px;
    box-shadow: 0px 0px 0px 1px #ffffff17;
}

.content header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
}

.content span {
    font-size: 8pt;
    padding: 2px 10px;
    background: #0000004a;
    color: white;
    border-radius: 8px;
    margin-right: 1px;
}

.content span:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.582);
}

.selectedTheme {
    background: #00000096 !important
}

.content div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 60px;
    padding: 0 20px 10px 0;
    width: auto;
    overflow-x: auto;
    color: #ffffff;
    justify-content: space-between;
}

.content p {
    color: rgba(255, 255, 255, 0.735);
    font-size: 12pt;
}

.content h2 {
    color: white;
    font-size: 24pt;
}

.content section {
    position: relative;
    display: flex;
    justify-items: center;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1px;
}

.content button {
    border: none;
    background: #0000004a;
    height: 50px;
    width: 70px;
    min-height: 50px;
    min-width: 70px;
    margin: 1px;
    border-radius: 2px;
    color: white;
    font-size: 12pt;
}

.numbers {
    background-color: #00000096 !important;
}

.content button:hover, .numbers:hover {
    background-color: #ffffff4a !important;
}